body{
    width: 100%;
    height: auto;
}
.container{
    width: 80%;
    margin-left: 10%;
    height: 100%;
}
.cars
{
    width: 100%;
    height: 20%;
   background-color: aqua;

}
.photo {
    width: auto;
    height: auto;
    float: left;
}
.tekst{
    width: auto;
    height: auto;

}
.cars2{
    width: 100%;
    height: 20%;
    background-color: aqua;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}